<h1>Contact</h1>
<ul>
	<li>
		<h3>E-mail:</h3> 
		<p>caitie.steffen@gmail.com</p></li>
	<li>
		<h3>Phone:</h3>
		<p>707-322-9896</p>
	</li>
	<li>
		<h3>Address:</h3>
		<p>lorem ipsum</p>
	</li>
</ul>

