<div class="panel panel-default">
	<div class="panel-body">
		<p>Thank you for your purchase!</p>
	</div><!-- /panel body -->
</div><!-- /panel -->

<div class="col-sm-6" "col-md-4">
	<%= link_to "Products", products_path(@products), class:"btn btn-default" %>
</div>
