// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: helvetica;
	color: #008080;
	font-weight: 100;
	margin: 20px;
	letter-spacing: 2px;
}
table, th {
	border: 2px solid black;
}
table {
		margin: 10px;
		width: 100%;
		border-collapse: collapse;
}
th {
		height: 50px;
		text-align: center;
		font-family: verdana;
		font-weight: 200;
		padding: 10px;
		text-transform: uppercase;
}
.btn-group, .field, .actions, p {
	margin: 10px;
}

.thumbnail {
	padding: 10px;
	margin: 30px;
}

.pagination {
	text-align: center;
	cursor: default;
	font-size: 14px;
	display: block;
	clear: top;
	color: #666666;
}
.pagination a {
	text-decoration: none;
	border: 2px solid #aeeeee;
	border-radius: 5px;
	padding: 0.2em 0.5em;
}
.pagination a:hover, .pagination a:focus {
	background-color: #f5f5f5;
	color: #666666;
}
.pagination .disabled {
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 0.2em 0.5em;
}