<h1>Editing Product</h1>

<%= render partial: 'form' %>

<div class="col-sm-6 col-md-4">	
	<%= link_to ('<span class="glyphicon glyphicon-arrow-left"></span>').html_safe, products_path %> |
	<%= link_to 'Show', @product, class:"btn btn-default btn-xs" %> 
</div>
